artifacts
.vs
*.suo
src/Opid/*.log
src/Opid/Opid.xproj.user
src/Opid/node_modules
src/Opid/typings
src/Opid/Scripts/**/*.js
src/Opid/Styles/**/*.css
src/Opid/typings
src/Opid/wwwroot/dev
src/Opid/wwwroot/prod
src/Opid/wwwroot/lib/angular-mask
src/Opid/wwwroot/lib/fastclick
src/Opid/wwwroot/lib/jquery
src/Opid/wwwroot/lib/lodash
src/Opid/wwwroot/lib/moment
