<div style="visibility:hidden;" class="row">
	<div class="col-xs-12">
		<ul id="slideshow">
			<li ng-repeat="image in entry.images">
				<div>
					<img ng-src="/Content/images/{{ image.fileName }}" />
				</div>
			</li>
		</ul>
		<div class="img-caption">
			<div class="row">
				<div class="col-md-11 col-sm-10 col-xs-8">
					{{ selectedImage.description }}
				</div>
				<div class="col-md-1 col-sm-2 col-xs-4">
					<div id="panzoom-toolbox">
						<span class="panzoom-tool glyphicon glyphicon-zoom-in" uib-tooltip="Scroll or pinch image to zoom" tooltip-placement="left"></span>
						<span class="panzoom-tool glyphicon glyphicon-move" uib-tooltip="Drag image to pan" tooltip-placement="left"></span>
						<br />
						<button type="button" class="btn btn-primary" ng-click="resetPanZoom()" uib-tooltip="Reset pan & zoom" tooltip-placement="left">
							<span class="glyphicon glyphicon-refresh"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
