<div style="visibility:hidden;" class="row">
	<div class="col-xs-12">
		<ul id="slideshow">
			<li ng-repeat="image in entry.images">
				<div>
					<img ng-src="/Content/images/{{ image.fileName }}" />
				</div>
			</li>
		</ul>
	</div>
	<div style="display:none;" id="img-caption-tmpl">
		<div class="img-caption">
			<div class="row">
				<div class="col-md-11">
					{{ selectedImage.description }}
				</div>
				<div class="col-md-1">
					<div id="panzoom-toolbox">
						<div class="panzoom-tool glyphicon glyphicon-zoom-in" uib-tooltip="Scroll or pinch image to zoom" tooltip-placement="left"></div>
						<br />
						<div class="panzoom-tool glyphicon glyphicon-move" uib-tooltip="Drag image to move" tooltip-placement="left"></div>
						<br />
						<button type="button" class="btn btn-primary" ng-click="vm.resetPanZoom()" uib-tooltip="Reset pan & zoom" tooltip-placement="left">
							<span class="glyphicon glyphicon-refresh"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
