body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
	.body-inner-content {
		min-height:200px;	
	}
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.gallery-thumb {
	height:300px;
	cursor:pointer;
	&:hover {
		border-color:#AAA;
	}
	img {
		height:150px;
		border:1px solid #000;
	}
	.diagnosis {
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
	}
	.description {
		height:80px;		
		overflow:hidden;
	}
}