@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@inject Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration TelemetryConfiguration

@{ Layout = ""; }
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Open Pathology Image Database</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dev/css/opid.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/prod/css/opid.min.css" asp-append-version="true" />
    </environment>

	@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
	<div ng-app="opidApp" ng-strict-di class="container-fluid body-content">
		<div ui-view="nav"></div>
		<div ui-view="main"></div>
		<div id="error-modal" class="modal fade" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Oops!</h4>
					</div>
					<div class="modal-body">Oops! Something has gone wrong.</div>
				</div>
			</div>
		</div>
	</div>	
	
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/angular/angular.min.js" asp-append-version="true"></script>
        <script src="~/lib/angular-filter/angular-filter.min.js" asp-append-version="true"></script>
        <script src="~/lib/fastclick/lib/fastclick.js" asp-append-version="true"></script>
        <script src="~/lib/lodash/dist/lodash.min.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
        <script src="~/lib/ui-router/angular-ui-router.min.js" asp-append-version="true"></script>
        <script src="~/lib/angular-mask/dist/ngMask.min.js" asp-append-version="true"></script>
		<script src="~/lib/ui-bootstrap/ui-bootstrap-tpls-1.3.2.min.js" asp-append-version="true"></script>
        <script asp-src-include="dev/js/**/*.js"
                asp-src-exclude="dev/js/**/*.min.js"
                asp-append-version="true"></script>

		<script src="~/dev/js/templates.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"
                asp-fallback-src="lib/angular/angular.min.js"
                asp-fallback-test="window.angular">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"
                asp-fallback-src="lib/angular-filter/angular-filter.min.js"
                asp-fallback-test="(function() { try { window.angular.module('angular.filter'); } catch(e) { return false; } return true; })()">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"
                asp-fallback-src="lib/fastclick/lib/fastclick.js"
                asp-fallback-test="(typeof module !== 'undefined' && module.exports && module.exports.FastClick) || window.FastClick">
        </script>

        <script src="https://cdn.jsdelivr.net/lodash/3.10.1/lodash.min.js"
                asp-fallback-src="lib/lodash/lodash.min.js"
                asp-fallback-test="window._">
        </script>

        <script src="https://cdn.jsdelivr.net/momentjs/2.10.6/moment.min.js"
                asp-fallback-src="lib/moment/min/moment.min.js"
                asp-fallback-test="window.moment">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"
                asp-fallback-src="lib/ui-router/angular-ui-router.min.js"
                asp-fallback-test="(function() { try { window.angular.module('ui.router.state'); } catch(e) { return false; } return true; })()">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngMask/3.0.16/ngMask.min.js"
                asp-fallback-src="lib/angular-mask/dist/ngMask.min.js"
                asp-fallback-test="(function() { try { window.angular.module('ngMask'); } catch(e) { return false; } return true; })()">
        </script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"
				asp-fallback-src="lib/ui-bootstrap/ui-bootstrap-tpls-1.3.2.min.js"
				asp-fallback-test="(function() { try { window.angular.module('ui.bootstrap'); } catch(e) { return false; } return true; })()"></script>

        <script src="~/prod/js/opidApp.min.js" asp-append-version="true"></script>
    </environment>

</body>
</html>
